*.iml
.idea/**
.DS_Store
target
./grails-liquibase.bzr.iml
./liquibase.grails.iml
./test
./web-app
./grails-app/controllers
./grails-app/domain
./grails-app/i18n
./grails-app/services
./grails-app/taglib
./grails-app/views
./grails-app/conf/hibernate
./grails-app/conf/spring
./grails-app/utils
*.zip
plugin.xml
